a {
  color: $black;
  border-bottom: 2px solid $secondary;
  background: linear-gradient($secondary,$secondary 100%) bottom no-repeat;
  background-size: 100% 0;
  transition: background-size .1s;

  &:hover {
    background-size: 100% 100%;
  }
}
