doctype html
//

    ,-.       _,---._ __  / \
   /  )    .-'       `./ /   \
  (  (   ,'            `/    /|
   \  `-"             \'\   / |
    `.              ,  \ \ /  |
     /`.          ,'-`----Y   |
    (            ;        |   '
    |  ,-.    ,-'         |  /
    |  | (   |      Hi!   | /
    )  |  \  `.___________|/
    `--'   `--'

  Nice to see you looking under the hood of my page :)
  If you want to take an even closer look, feel free to visit the github repo of my portfolio:
  https://github.com/programmiri/my-portfolio
  

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    meta(name='title', content='Mirjam Aulbach Portfolio')
    meta(name='description', content='Hello, I am Mirjam! I am a Software Engineer, leaning heavily on the Frontend side and build modern web applications in VueJS.')
    meta(name='keywords', content='Frontend Engineer, Software Engineer, Javascript Developer')
    meta(name='robots', content='index, follow')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='language', content='English')
    meta(name='author', content='Mirjam Aulbach')
    title Mirjam Aulbach
    link(rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/155/female-technologist_1f469-200d-1f4bb.png")
    link(rel="stylesheet" href="/app.css")
    script(async src="https://kit.fontawesome.com/3a16846133.js" crossorigin="anonymous")

  body
    nav.lead.main-navbar.navbar.navbar-expand.sticky-top
      .mx-auto
          ul.navbar-nav
            li.nav-item.active
              a.nav-link(href="#home" title="Home" class="px-md-4 px-2")
                span.d-sm-none
                  i.fas.fa-home
                span.d-none.d-sm-inline
                  | Home
            li.nav-item
              a.nav-link(href="#projects" class="px-md-4 px-2") Projects
            li.nav-item
              a.nav-link(href="#speaking" class="px-md-4 px-2") Speaking
            li.nav-item
              a.nav-link(href="#articles" class="px-md-4 px-2") Articles 

    main
      .anchor-link#home
      section.container.px-sm-5.mt-5
        .d-block.d-sm-none
          h1.display-3 Hello, I am Mirjam 👩‍💻
        .d-none.d-sm-block(aria-hidden="true")
          h1.display-1 Hello, I am Mirjam 👩‍💻
        h2.pt-4.pb-5
          |I am a highly motivated Software Engineer, leaning  heavily on the Frontend side and in love with all-things JavaScript/TypeScript 💛 and testing!
        .clearfix
          .d-block.d-md-none.px-3.pb-4
            picture
              source(type="image/webp" srcset="img/mirjam-conf.webp")
              source(type="image/jpeg" srcset="img/mirjam-conf.jpg")
              img.img-fluid.rounded(src="images/mirjam-conf.webp" width="500" height="750" alt="Me, gesturing with my hands and speaking. You see a blurred window in the background. It is clear that this is a conference setting.")
          .d-none.d-md-block
            picture(aria-hidden="true")
              source(type="image/webp" srcset="img/mirjam-conf.webp")
              source(type="image/jpeg" srcset="img/mirjam-conf.jpg")
              img.img-fluid.profile-image.float-left.rounded(src="images/mirjam-conf.webp" width="500" height="750" alt="Me, gesturing with my hands and speaking. You see a blurred window in the background. It is clear that this is a conference setting.")
          div            
            p.lead I’m working over 5 years in development and bring substantial experience and learning from all the areas I worked in more than 20 years - as an 👩‍💼 office manager, but also as a 🐶 dog trainer. 
            p.lead I love working with and caring about dedicated people. I write reliable, maintainable, well-tested and readable code and semantic, accessible HTML. 
            p.lead What I enjoy most in coding is delivering sustainability: Writing tests and seeing them pass; planning, organizing and improving the software architecture of my project; cleaning up, refactoring, testing and eventually deleting code. 

      //- Projects
      .anchor-link#projects
      section.container.px-sm-5.my-5
        h2.mb-3 Some of my projects
        p In my free time I like to work on some side projects, often related to programming and the developer community in general. Here are a few of them:
        .p-3.bg-light
          ul.list-style-none
            li.border-bottom.py-3
              strong
                |🐶 &nbsp; #[a(title="Conference Buddy" href='http://conferencebuddy.io/') Conference Buddy]
              br
              | Conference Buddy aims to make tech conferences accessible for people who want to attend, but who are not comfortable going alone.
            li.border-bottom.py-3
              strong
                | 📻 &nbsp; Co-Host and guest at podcasts
              br
              | Co-host at #[a(href="https://podtail.com/en/podcast/expect-exception/") expect-exceptions] &bull; #[a(href="https://music.amazon.com/podcasts/e0030aa6-b46a-41b6-ad80-85f0fae40f31/episodes/88adc5bd-b8a4-4ffd-b908-b7d50e02098a/views-on-vue-vov-095-new-to-vue-with-mirjam-b%C3%A4uerlein") Views on Vue] &bull; #[a(href="https://workingdraft.de/") Working Draft] &bull; #[a(href="http://keinproblemkeinprodukt.de/023-programmieren-lernen-konferenzkumpel-und-virtuelle-zoos/") Kein Problem, Kein Produkt] &bull; #[a(href="https://www.programmier.bar/podcast/deep-dive-104-women-in-tech-mit-guencem-campagna-und-mirjam-aulbach") Programmier.bar]
            li.border-bottom.py-3
              strong
                | 🫶 &nbsp; (Co-) Organizing meetups
              br
              | Techettes Frankfurt &bull; Vue.js Frankfurt &bull; React.js Girls Frankfurt
            li.border-bottom.py-3
              strong
                | 👯‍♂️ &nbsp;Programm commitee for conferences
              br
              | EnterJS 2021, 2022 &bull; vuejs.de Conf
            li.border-bottom.py-3
              strong
                | 👩‍🏫 &nbsp;Guest lectures at the #[a(title="Mediencampus Dieburg" href='https://mediencampus.h-da.de/') University of Applied Sciences in Darmstadt] 
              br
              | From 2018-2020 I gave guest lectures at the University of Applied Sciences in Darmstadt on the Faculty of Media, teaching students about the basics of web development - HTML and CSS - and give an introduction to software testing. 
            
            li.border-bottom.py-3
              strong
                | 💻 &nbsp;Free webinar: #[a(href='https://www.crowdcast.io/e/testing-your-functions/') Testing your Gatsby Serverless Functions] with Queen Raae
              br
              |Free Webinar on how to get started TDDing your Gatsby Functions. 
            li.border-bottom.py-3
              strong
                | 📽 &nbsp;Video stream series with Queen Raae: #[a( href='https://www.youtube.com/watch?v=ZTIoA298mX4&list=PL9W-8hhRoLoNpEj71YsWChzOAocHiGZB4') Start Conference Buddy 2.0]
              br
              |Benedicte invited me to her weekly streaming format "Unauthorized and rum-fueled treasure hunts in the sharky waters around the Gatsby islands" and helped me get Conference Buddy 2.0 off the ground 🎉
              

      //- speaking
      .anchor-link#speaking
      section.container.my-5.container.px-sm-5
        h2.mb-3 Conference speaking
        p
          |I've given talks and keynotes on various conferences since 2018 and been invited to community eventes and meetups to speak. I'm open to speak at more events, so, feel free to contact me about that.
          i.fas.fa-rocket.text-secondary
        picture
          source(type="image/webp" srcset="img/mirjam-webmontag.webp")
          source(type="image/jpeg" srcset="img/mirjam-webmontag.jpg")
          img.img-fluid.rounded(src="images/mirjam-webmontag.webp" width="1024" height="684" alt="Me standing on a stage with a laptop a few feets from me. Gesturing with my hands, with really cute mint nailpolish. In the background you see a cut of projection of a slide, the words 'needs someoby' are readable.")
        
        h3.my-5 My conference talks
          | &nbsp; 
          .mt-3
        .bg-light.rounded
          .row.mx-4.border-bottom.py-4
            .col-md-5
              picture
                source(type="image/webp" srcset="img/talk-treat-yourself.webp")
                source(type="image/jpeg" srcset="img/talk-treat-yourself.jpg")
                img.img-fluid.rounded.border(src="images/talk-treat-yourself.webp" alt="Slide: Treat yourself - a tale about dog training and test driven development" width="500" height="279")
            .col-md.pt-4.p-md-0
              ul
                li MODXpo, Jul 2022
                li WeAreDevloper World Congress, Jun 2022
                li EnterJS 2020, Sep 2020
                li FemTech Conference, Jun 2020
                li STAREAST Virtual+ Testing Conference, May 2020
                li Keynote at European Testing Conference, Feb 2020
                li RuhrJS, Jul 2019
          
          .row.mx-4.border-bottom.py-4
            .col-md-5
              picture
                source(type="image/webp" srcset="img/talk-better-late-than-never.webp")
                source(type="image/jpeg" srcset="img/talk-better-late-than-never.jpg")
                img.img-fluid.rounded.border(src="images/talk-better-late-than-never.webp" alt="Slide: Better late then never - how to retrofit a testsuite" width="500" height="276")
            .col-md.pt-4.p-md-0
              ul
                li ct webdev, Apr 2021
                li JS World Conference, Feb 2021
                li International JavaScript Conference Munich, Oct 2020
                li EnterJS 2019, Apr 2019
                li ITCS Darmstadt, Apr 2019

          
          .row.mx-4.border-bottom.py-4
            .col-md-5
              picture
                source(type="image/webp" srcset="img/talk-component-based-css.webp")
                source(type="image/jpeg" srcset="img/talk-component-based-css.jpg")
                img.img-fluid.rounded.border(src="images/talk-component-based-css.webp" alt="Slide: Organise your styles with component-based CSS approach" width="500" height="279")
            .col-md.pt-4.p-md-0
              ul
                li FrontConf Munich, Apr 2019
                li ct webdev in Cologne, Nov 2018
                li Developer Camp 2018 in Würzburg, Mar 2018
          
          .row.mx-4.border-bottom.py-4
            .col-md-5
              picture
                source(type="image/webp" srcset="img/talk-everybody-needs-somebody.webp")
                source(type="image/jpeg" srcset="img/talk-everybody-needs-somebody.jpg")
                img.img-fluid.rounded.border(src="images/talk-everybody-needs-somebody.webp" alt="Slide: Everybody needs somebody" width="500" height="282")
            .col-md.pt-4.p-md-0
              ul
                li Webmontag Frankfurt, Feb 2019
                li DACHfest in Munich, May 2018
          
          .row.mx-4.py-4
            .col-md-5
              picture
                source(type="image/webp" srcset="img/talk-full-skill-developer.webp")
                source(type="image/jpeg" srcset="img/talk-full-skill-developer.jpg")
                img.img-fluid.rounded.border(src="images/talk-full-skill-developer.webp" alt="Slide: Full Skill Developer" width="500" height="277")
            .col-md.pt-4.p-md-0
              ul
                li Keynote at unkonf, Oct 5, 2019

        //- conference pics
        .mt-3
          .row.pt-3.mx-2.mx-md-5
            .col-md.pb-3.pt-md-3.px-md-4
              picture
                source(type="image/webp" srcset="img/talking01.webp")
                source(type="image/jpeg" srcset="img/talking01.jpg")
                img.img-fluid.rounded.border(src="images/talking01.webp"  width="500" height="396" alt="Me sitting on a stage with the MC of the MODXpo conference in a pannel setting. Answering a question while, of course, gesturing with my hand a lot.")
            .col-md.pb-3.pt-md-3.px-md-4
              picture
                source(type="image/webp" srcset="img/talking03.webp")
                source(type="image/jpeg" srcset="img/talking03.jpg")
                img.img-fluid.rounded(src="images/talking03.webp"  width="600" height="300" alt="Shot from the back of a conference room. Over the heads of a lot of people you can see me on a stage, speaking. In the background there is a cut of projection of a slide, a picture of a cat getting some blush applied with a brush.")
          .row.pt-3.mx-2.mx-md-5
            .col-md.pb-3.pt-md-3.px-md-4
              picture
                source(type="image/webp" srcset="img/talking02.webp")
                source(type="image/jpeg" srcset="img/talking02.jpg")
                img.img-fluid.rounded(src="images/talking02.webp"  width="600" height="450" alt="Me on a stage, a latop with a lot of stickers in front of me. In the background ou can see a projection of a slide with a big HI and an emoji of a womans face half behind her laptop.")
            .col-md.pb-3.pt-md-3.px-md-4
              picture
                source(type="image/webp" srcset="img/talking04.webp")
                source(type="image/jpeg" srcset="img/talking04.jpg")
                img.img-fluid.rounded(src="images/talking04.webp"  width="600" height="450" alt="Me standing on the stage of We Are Developers World Congress. In the background a big screen with a the talk title.")

      //- Articles
      .anchor-link#articles
      section.container.px-sm-5.my-5
        h2.mb-3 My Articles
        ul.list-plain-text
          li
            a(href='https://devm.io/careers/women-in-tech-mirjam-bauerlein-172737' title='Women in Tech: “The diversity debate mustn’t end in the near future”') Interview with Women in Tech: “The diversity debate mustn’t end in the near future”
          li
            a(href='https://dev.to/programmiri/do-we-need-safe-spaces-for-minoritised-people-in-tech-2d2g' title='Do we need safe spaces for minoritised people in tech? ') Do we need safe spaces for minoritised people in tech? 
          li
            a(href='https://dev.to/programmiri/how-frontend-unit-testing-turned-from-a-fling-to-a-real-thing-for-me-6bk' title='How frontend unit testing turned from a fling to a real thing for me') How frontend unit testing turned from a fling to a real thing for me
          li
            a(href='https://dev.to/programmiri/my-favored-scss-setup-with-bootstrap-4-590j' title='My favored SCSS setup with Bootstrap 4') My favored SCSS setup with Bootstrap 4

      //- contactband
      section.mt-5.bg-secondary

        .container.px-sm-5.pb-2.pt-3.d-flex.justify-content-around.small.align-items-center
            strong.d-sm-block.d-none.lead 👩‍💻 Mirjam Aulbach
            a(class='text-dark' href='https://github.com/programmiri/' title='github profile')
              i.fa-brands.fa-github.fa-2x
            a(class='text-dark' href='https://medium.com/@programmiri' title='medium profile')
                i.fa-brands.fa-dev.fa-2x
            a(class='text-dark' href='https://twitter.com/mirjam_diala' title='twitter profile')
              i.fa-brands.fa-twitter.fa-2x
            a(class='text-dark' href='https://www.linkedin.com/in/mirjam-b%C3%A4uerlein/' title='linkedin profile')
              i.fa-brands.fa-linkedin.fa-2x
            a(class='text-dark' href='https://www.meetup.com/de-DE/members/186762665/' title='meetup profile')
              i.fa-brands.fa-meetup.fa-2x
            a(class='text-dark' href='mailto:me@programmiri.rocks' title='mail address')
              i.fa-solid.fa-envelope.fa-2x
        .d-flex.justify-content-around.pb-2
          small.d-block.d-sm-none 👩‍💻 Mirjam Aulbach
