doctype html
//

    ,-.       _,---._ __  / \
   /  )    .-'       `./ /   \
  (  (   ,'            `/    /|
   \  `-"             \'\   / |
    `.              ,  \ \ /  |
     /`.          ,'-`----Y   |
    (            ;        |   '
    |  ,-.    ,-'         |  /
    |  | (   |      Hi!   | /
    )  |  \  `.___________|/
    `--'   `--'

  Nice to see you looking under the hood of my page :)
  If you want to take an even closer look, feel free to visit the github repo of my portfolio:
  https://github.com/programmiri/my-portfolio
  It's a work in progress project that I update and improve iteratively.

html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    meta(name='title', content='Mirjam Bäuerlein Portfolio')
    meta(name='description', content='Hello, I am Mirjam! I am a Software Developer, leaning heavily on the Frontend side and build modern web applications in ReactJS.')
    meta(name='keywords', content='Frontend Developer, Software Developer, Javascript Developer')
    meta(name='robots', content='index, follow')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='language', content='English')
    meta(name='author', content='Mirjam Bäuerlein')
    title Mirjam Bäuerlein
    link(rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/155/female-technologist_1f469-200d-1f4bb.png")
    link(rel="stylesheet" href="/app.css")
    script(defer="" src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous")
    script(src="/vendor.js")
    script(src="/app.js")
    script.
      require('index');
  body
    nav.main-navbar.navbar.navbar-expand.navbar-light.sticky-top
      .mx-auto
          ul.navbar-nav
            li.nav-item.active
              a.nav-link(href="#home")
                .d-sm-none
                  i.fas.fa-home
                .d-none.d-sm-inline
                  | Home
            li.nav-item
              a.nav-link(href="#projects") Projects
            li.nav-item
              a.nav-link(href="#articles") Articles
            li.nav-item
              a.nav-link(href="#talks") Talks

    main
      .anchor-link#home
      section.container.px-sm-5.mt-5
        .d-block.d-sm-none
          h1.display-4 Hello, I am Mirjam
          h2.h4.text-muted Welcome to my portfolio&nbsp;
              i.fas.fa-keyboard.text-secondary
        .d-none.d-sm-block
          h1.display-1#home Hello, I am Mirjam
          h2.text-muted Welcome to my portfolio&nbsp;
              i.fas.fa-keyboard.text-secondary
        p.lead.py-4
          i.fas.fa-code.mr-2
          |I am a highly motivated, self-taught developer. Currently I am working as a Software Developer at cosee in Darmstadt leaning heavily on the Frontend side and build modern web applications in
          span.text-nowrap ReactJS.
            i.fas.fa-code.ml-2
        .clearfix
          .d-block.d-md-none.px-3.pb-4
            img.img-fluid.rounded(src="img/profilpic-bw.jpg" alt="Profil picture Mirjam")
          .d-none.d-md-block
            img.profile-image.rounded.float-left(src="img/profilpic-bw.jpg" alt="Profil picture Mirjam")
          div
            p At the age of eleven I started programming on my Schneider CPC 464 in Locomotive BASIC. Programming has been a hobby ever since, mostly web development. In 2017 I started to work as a Frontend Developer at the agency I was working as a Office Manager prior. Also, I worked as a dogtrainer for almost nine years, focusing mostly on training for dogs with behavior issues.
            p I am a member of the #[a(href="http://techettes-frankfurt.com/" title="Techettes Frankfurt") Techettes Frankfurt], a local community in the Rhine-Main region that supports women in the technology sector. Also I am organizer of the #[a(href="https://www.meetup.com/de-DE/ReactJS-Girls-frankfurt/") ReactJS Girls Frankfurt] meetup.
            p
              |I&nbsp;
              strong love&nbsp;
              | working with dedicated people, write reliable and maintainable code and learn how to become a better programmer – every day. Since I started my career, I developed a special love for JavaScript.&nbsp;
              i.far.fa-heart.text-secondary
            p What I enjoy most in coding is to strive for perfection: Writing tests and see them pass. Plan, organize and improve the software architecture of my projects. Fixing bugs if that means I can refactore code. Clean up, optimize and then delete some code.

      //- Projects
      .anchor-link#projects
      section.container.px-sm-5.my-5
        h2.mb-3 My projects
        p In my free time I like to work on some side projects, often related to programming and the developer community in general.
        .p-3.bg-light
          ul.list-style-none
            li.border-bottom.py-3
              a(title="Mediencampus Dieburg" href='https://mediencampus.h-da.de/') Guest lectures at the University of Applied Sciences in Darmstadt
              br
              | Since 2018 I'm giving guest lectures at the University of Applied Sciences in Darmstadt on the Faculty of Media, teaching students about the basics of web development: HTML and CSS.
            li.border-bottom.py-3
              a(title="Conference Buddy" href='http://conferencebuddy.io/') Conference Buddy
              br
              em
                | Work in progress.&nbsp;
              | Conference Buddy provides a platform to find companions for tech conferences. It's for everyone who wants to attend a tech conference but doens't feel comfortable going alone.
            li.border-bottom.py-3
              a(title="Kerker" href='https://github.com/programmiri/kerker') Kerker
              br
              em
                | Work in progress.&nbsp;
              | React App to save with&nbsp;
              a(title="Trezor" href="https://trezor.io/")
                | trezor
              | &nbsp;encrypted notes in Dropbox. I'm contributing the Frontend part.
            li.border-bottom.py-3
              a(title="Brunch with Bootstrap 4 repo" href='https://github.com/programmiri/brunch-setup-bootstrap4') Brunch with Bootstrap 4 in my favored SCSS setup
              br
              | Brunch.io setup with Bootstrap 4 and ES6. It uses a specific setup and structure for my Bootstrap and SCSS in this repo. It's my currently favored setup for small to medium projects.
            li.border-bottom.py-3
              a(title="Snek Game" href='https://economist-ape-73733.netlify.com/') Snek Game
              br
              |A clone of the old Nokia game snake. Built in plain JavaScript.
            li.border-bottom.py-3
              a(title="Hundetrainer Barcamp" href='http://hundetrainer-barcamp.de') hundetrainer-barcamp.de
              br
              |Site build with Middleman, using Haml. My first project with Bootstrap. Beside building the website, I created this first barcamp for dogtrainers and organized it two years.
            li.py-3
              a(title="CaveCani" href='http://cavecani.de') cavecani.de
              |&nbsp;and&nbsp;
              a(title="CaneAmi" href='http://caneami.de ') caneami.de
              br
              |Both old Wordpress sites (2011), still up and running, though a bit outdated in the look. I built the templates by myself based on HTML5 Boilerplate which was fairly new then. Also built a simple event plugin using custom post types that is still in use.

      //- Articles
      .anchor-link#articles
      section.container.px-sm-5.my-5
        h2.mb-3 My articles
        p As an avid reader I use - beside lots of books - resources like Medium, Twitter and various newsletters to learn new things and keep up with trends. I profit so much from all the knowlege other coders share - often for free! So I try to contribute too.
        ul.list-plain-text
          li
            a(href='https://medium.com/@programmiri/how-frontend-unit-testing-turned-from-a-fling-to-a-real-thing-for-me-36bf2844d3a0' title='How frontend unit testing turned from a fling to a real thing for me') How frontend unit testing turned from a fling to a real thing for me
          li
            a(href='https://medium.com/@programmiri/my-favored-scss-setup-with-bootstrap-4-547e9ea290f8' title='To blog or not to blog') My favored SCSS setup with Bootstrap 4
          li
            a(href='https://medium.com/wdstack/setting-up-brunch-with-bootstrap-4-ca052e513e4' title='Setting up Brunch with Bootstrap 4') Setting up Brunch with Bootstrap 4
          li
            a(href='https://medium.com/@programmiri/to-blog-or-not-to-blog-85f9a0e92678' title='To blog or not to blog') To blog or not to blog

      //- Talks
      .anchor-link#talks
      section.container.my-5.container.px-sm-5
        h2.mb-3 My talks

        p
          | Thanks to a supportive community I got into speaking on events very early. And while the first time felt really stresful, it went well and I even had a bit of fun. So I did it again &nbsp;
          i.fas.fa-rocket.text-secondary
          | &nbsp; After I survied my first talk and got first hand experiences how nice and welcoming the audience is, I'm open to speak at more events, so, feel free to contact me about that.
          .mt-3
          .row.border.pt-3.mx-2.mx-md-5
            .col-md.pb-3.pb-md-5.pt-md-3.px-md-4
              a(href="https://www.youtube.com/watch?v=psyqSSw530c" title="Video DACHfest talk")
                img.img-fluid.rounded(src="img/talk05.jpg" alt="Startscreen slide")
            .col-md.pt-md-3
              .text-muted February 7, 2019
              h4.h4 "Component-based CSS"
              p Talk at c't >webdev> in Cologne
              p
                a(href="https://speakerdeck.com/programmiri/my-approach-to-a-component-based-css-f601400d-28ff-4b74-b3e2-5009b768d236" title="Slides presentation") Slides for this talk
              p
                a(href="https://github.com/programmiri/component-based-functional-css-examples" title="github repo with examples") github repository with examples and links for further reading
          .mt-3
          .row.border.pt-3.mx-2.mx-md-5
            .col-md.pb-3.pb-md-5.pt-md-3.px-md-4
              a(href="https://www.youtube.com/watch?v=psyqSSw530c" title="Video DACHfest talk")
                img.img-fluid.rounded(src="img/talk04.jpg" alt="Startscreen slide")
            .col-md.pt-md-3
              .text-muted November 29, 2018
              h4.h4 "Lightning Talks - Unit Testing in Frontend." (german)
              p Lightning Talk at Cosee TechTalks
              p
                a(href="https://speakerdeck.com/programmiri/unit-testing-im-frontend-lightning-talk" title="Slides presentation") Slides for this talk
              p
                a(href="https://vimeo.com/304337030" title="Video DACHfest talk") Video recording of the talk (german)
          .mt-3
          .row.border.pt-3.mx-2.mx-md-5
            .col-md.pb-3.pb-md-5.pt-md-3.px-md-4
              a(href="https://www.youtube.com/watch?v=psyqSSw530c" title="Video DACHfest talk")
                img.img-fluid.rounded(src="img/talk03.jpg" alt="Startscreen slide")
            .col-md.pt-md-3
              .text-muted November 10, 2018
              h4.h4 "Everybody needs somebody" (english)
              p Lightning Talk at DACHfest in Munich
              p
                a(href="https://www.youtube.com/watch?v=psyqSSw530c" title="Video DACHfest talk") Video recording of the talk (english)
        .mt-3
          .row.border.pt-3.mx-2.mx-md-5
            .col-md.pb-3.pb-md-5.pt-md-3.px-md-4
              a(href="https://slides.com/programmiri/my-component-based-css-approach#/" title="Slides presentation")
                img.img-fluid.rounded(src="img/talk02.jpg" alt="Startscreen slide")
            .col-md.pt-md-3
              .text-muted May 8, 2018
              h4.h4 "My approach to a component-based CSS"
              p Meetup Techettes Frankfurt
              p
                a(href="https://slides.com/programmiri/my-component-based-css-approach#/" title="Slides presentation") Slides for this talk
        .mt-3
          .row.border.pt-3.mx-2.mx-md-5
            .col-md.pb-3.pb-md-5.pt-md-3.px-md-4
              a(href="https://slides.com/programmiri/component-based-css-1/#/" title="Slides presentation")
                img.img-fluid.rounded(src="img/talk01.jpg" alt="Startscreen slide")
            .col-md.pt-md-3
              .text-muted March 10, 2018
              h4.h4 "Component-based CSS"
              p Developer Camp 2018 in Würzburg
              p
                a(href="https://slides.com/programmiri/component-based-css-1/#/" title="Slides presentation") Slides for this talk
        .mt-3
          .row.border.pt-3.mx-2.mx-md-5
            .col-md.pb-3.pt-md-3.px-md-4
              img.img-fluid.rounded(src="img/mirjam-talk01.jpg" alt="Profil picture Mirjam")
              .text-center.pt-2
                em Impression of my Techettes talk.
      //- contactband
      section.mt-5.bg-secondary
        .container.px-sm-5.py-2.d-flex.justify-content-around.small
            a(class='text-dark' href='https://github.com/programmiri/' title='github profile')
              i.fab.fa-github.fa-2x
            a(class='text-dark' href='https://medium.com/@programmiri' title='medium profile')
                i.fab.fa-medium-m.fa-2x
            a(class='text-dark' href='https://twitter.com/mirjam_diala' title='twitter profile')
              i.fab.fa-twitter.fa-2x
            a(class='text-dark' href='https://www.linkedin.com/in/mirjam-b%C3%A4uerlein/' title='linkedin profile')
              i.fab.fa-linkedin.fa-2x
            a(class='text-dark' href='https://www.xing.com/profile/Mirjam_Baeuerlein' title='xing profile')
              i.fab.fa-xing-square.fa-2x
            a(class='text-dark' href='https://www.meetup.com/de-DE/members/186762665/' title='meetup profile')
              i.fab.fa-meetup.fa-2x
            a(class='text-dark' href='mailto:mirjam.baeuerlein@gmail.com' title='mail address')
              i.i.far.fa-envelope.fa-2x
